extends layout

block content
    .container
        .dashboard
        h4(class="title") Dashboard
        hr
        if user
            p You are loggedin as <b>!{user.username}</b>
            a(href="/logout" class="btn btn-md btn-primary") Logout
        else
            p You are'nt login
            a(href="/login" class="btn btn-md btn-primary") Login

